/* The container must be positioned relative: */
:host {
    position: relative;
    font-family: Arial;
  }

  #select {
    
    &.hide {
      #items-container {
        display: none;
      }
    }
  }


#selected-placeholder {
  padding: 8px 16px;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
  &::after {
    content: '\25BC';
    display: inline-block;
    position: absolute;
    left: 100;
    top: 0;
    width: 32px;
    height: 100%;
    background-color: dodgerblue;
    }
  #badge {
    background: red;
border-radius: 25px;
width: 16px;
height: 16px;
align-content: center;
display: flex;
justify-content: center;
font-size: small;
margin-bottom: 10%;
&::before {
  content: '\02715';
}
  }
  
}
  
  select {
    display: none; /*hide original SELECT element: */
  }
  
  .selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  #items-container,.selected {
    border: 1px solid black;
    cursor: pointer;
  }
  
  /* Style items (options): */
  #items-container {
    position: absolute;
    display: inline-block;
  }


  .item {
    display: inline-block;
    width: 100%;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }