<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout Example</title>
    <script src="../../../dist/juel.js"></script>
</head>
<body>
    <juel-grid gap="16px">
           <juel-grid-item columnSpan="span 2">Item 1</juel-grid-item>
           <juel-grid-item>Item 2</juel-grid-item>
           <juel-grid-item>Item 3</juel-grid-item>
           <juel-grid-item>Item 4</juel-grid-item>
        </juel-grid>
</body>
</html>