@import '../_CommonStyles/Animations/MoveDown.less';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;

    &.open {
        display: flex;

        .container {
            animation: move-down 0.6s ease-out;
        }
    }
}

.container {
    background-color: #fff;
    width: 90%;
    max-width: 450px;
    position: relative;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
}
.header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
}
.close {
    cursor: pointer;
    background-image: var(--icon-close);
    opacity: .5;
    width: 26px;
    height: 26px;
    margin-top: 3%;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
        opacity: 1;
      }
  }
  ::slotted(h1), ::slotted(h2), ::slotted(h3), ::slotted(h4), ::slotted(h5), ::slotted(h6) {
    margin: 0;
  }