:host {
    position: relative;
    display: inline-block;

    #container {
        position: absolute;
    }
  
    #items {
        display: none;
      opacity: 0;
      transition: opacity 0.8s;
    }
  }