:host {
	display: block;
	width: 100%;
}
#container {
	display       : flex;
	flex-direction: column;
	height: 100%;

	.title {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		padding: 1rem 1.25rem;
		font-size: 1rem;
		text-align: left;
		border: 0;
		border-radius: 0;
		overflow-anchor: none;
		transition: color .15s;
		background-color: var(--light, #fff);
		color           : var(--dark-text, #212529);
		cursor          : pointer;

		&.active {
			background-color: var(--active, #e7f1ff);
			color           : var(--active-text);
			box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);

			+.panel {
				max-height: 100%;
			}
		}

		&:hover {
			background-color: var(--active);
			color           : var(--active-text);
		}
	}

	.panel {
		max-height      : 0;
		padding         : 0 18px;
		background-color: --light;
		overflow        : auto;
		transition      : max-height 0.2s ease-out, max-width 0.2s ease-out;
		border: 1px solid rgba(0,0,0,.125);

		&:first-of-type {
			border-top-left-radius: .25rem;
			border-top-right-radius: .25rem;
		}
	}

	&.horizontal {
		flex-direction: row;
		.title {
			&.active {
	
				+.panel {
					max-width: 100%;
				}
			}
		}
	
		.panel {
			max-width      : 0;
		}
	}
}