:host {
	display: block;
	width: 100%;
}
.items {
	display       : flex;
	flex-direction: column;

	.title {
		position: relative;
		display: flex;
		align-items: center;
		padding: 1rem 1.25rem;
		font-size: 1rem;
		text-align: left;
		border: 0;
		border-radius: 0;
		overflow-anchor: none;
		transition: color .15s;
		background-color: var(--light, #fff);
		color           : var(--dark-text, #212529);
		cursor          : pointer;

		&:hover {
			background-color: var(--active);
			color           : var(--active-text);
		}
	}

	.item {
		&.active {
			.title {
					background-color: var(--active, #e7f1ff);
					color           : var(--active-text);
					box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
			}
			.item-content {
				max-height: 400px;
			}
		}
	}

	.item-content {
		max-height      : 0px;
		padding         : 0 18px;
		background-color: --light;
		overflow        : auto;
		transition      : max-height 0.2s, max-width 0.2s ease-out;
		border: 1px solid rgba(0,0,0,.125);

		&:first-of-type {
			border-top-left-radius: .25rem;
			border-top-right-radius: .25rem;
		}
	}

	&.horizontal {
		flex-direction: row;
		.item {
			&.active {
	
				.item-content {
					max-width: 400px;
				}
			}
		}
	
		.item-content {
			max-width      : 0px;
		}
	}
}