@import "../_CommonStyles/_Units.less";

:host {
    margin-top: 100px;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display        : flex;
    flex-wrap: wrap;
    flex-direction : row;
    align-items    : baseline;
    justify-content: var(--justify);
    padding-left   : var(--padding-left);
    padding-right  : var(--padding-right);

    @media screen and (max-width: @widthMobile) {
        padding-left: initial;
        padding-right: initial;
    }

    .title {
        padding-top    : .3125rem;
        padding-bottom : .3125rem;
        margin-right   : 1rem;
        font-size      : 1.25rem;
        text-decoration: none;
        white-space    : nowrap;
    }

    #items {
        display: flex;
        overflow: visible;
        align-items: baseline;
        min-width: 0;

        &.side {
            &.left {
                order: -1;    
            }
            &.right {
                order: 1;
            }
        }

        @media screen and (max-width: @widthMobile) {
            flex-direction: column;
            overflow-y: auto;
            order: 1 !important;
            width: 100%;
            min-width: 100px;
            max-height: 0;
        }
    }

    .item {
        display    : block;
        flex-basis : 0;
        flex-shrink: 1;
        padding-left    : .75rem;
        padding-right    : .75rem;
    }

    .toggle {
        display         : none;
        position        : relative;
        width: 64px;
        height: 64px;
        cursor:pointer;
        color           : rgba(0, 0, 0, .55);
        border-color    : rgba(0, 0, 0, .1);
        padding         : .25rem .75rem;
        font-size       : 1.25rem;
        line-height     : 1;
        background-color: transparent;
        border          : 1px solid transparent;
        border-radius   : .25rem;
        transition      : box-shadow .15s ease-in-out;

        @media screen and (max-width: @widthMobile) {
            display: inline-block;
            + #items.side {
                position: relative;
                    transition: max-height 1.5s;
            }
            &.open {
                + #items {
                    &.side {
                            max-height: calc(100 * var(--vh));
                        }
                    }
                }
        }

        &.shown {
            display: inline-block;

            + #items.side {
                position: relative;
            flex: 0;
            transition: flex 1.5s;

            
                @media screen and (max-width: @widthMobile) {
                    flex: initial !important;
                    transition: max-height 1.5s;
                }
            }
        

        &.open {
            + #items {
                &.side {
                    &.left, &.right {
                        flex: 1;
                    }
                    @media screen and (max-width: @widthMobile) {
                        max-height: calc(100 * var(--vh));
                    }
                }
            }
        

            span:nth-child(1) {
                transform: translateY(5px) rotate(45deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: translateY(-5px) rotate(-45deg);
            }
        }
    

        @media screen and (max-width: @widthMobile) {
            display: inline-block;
        }

    }

        span {
            background-color          : currentColor;
            display                   : block;
            height                    : 1px;
            left                      : calc(50% - 8px);
            position                  : absolute;
            transform-origin          : center;
            transition-duration       : 86ms;
            transition-property       : background-color, opacity, transform;
            transition-timing-function: ease-out;
            width                     : 16px;
        }

        span:nth-child(1) {
            top: calc(50% - 6px);
        }

        span:nth-child(2) {
            top: calc(50% - 1px);
        }

        span:nth-child(3) {
            top: calc(50% + 4px);
        }
    }
    
    .addon ::slotted(*) {
        display: flex;
    }
}