#container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 101;
}
#container.modal {
    pointer-events: all;
    background-color: #3a474d;
}
.titlebar {
    background-color: rgba(243, 245, 247, 0.56);
    padding: 0.6875rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
    border-bottom: none;
}
.titlebar .close {
    float: right;
    background-image: var(--icon-close);
    width: 26px;
    height: 26px;
    margin-top: 3%;
    background-repeat: no-repeat;
    background-position: center;
}
.titlebar .close:hover {
    background-color: darkorange;
}
.dialog {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        pointer-events: all;
        z-index: 101;
        overflow: hidden;
        background-color: #ffffff;
        box-shadow: 0 22px 64px 0 rgba(0, 0, 0, 0.22);
        border-radius: 4px;
}
@media (max-device-width: 600px) {
    .dialog {
        width: 100%;
        height: 100%;
        box-shadow: initial;
    }
}
.dialog-body {
    padding: 1.25rem;
}