:host {
  display: block;
  position: relative;
}

.header {
  background-color: var(--header-bg, #ddd);
  cursor: pointer;
  padding: 10px;
}

.content {
  display: none;
  background-color: var(--content-bg, #f9f9f9);
  padding: 10px;
}