:host {
    display: flex;
}
.container {
    position: relative;
    width: var(--item-width);
    height: var(--item-height);
}
.item {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    pointer-events: none;
    &.active { /* When the item is in view */
        display: block;
        pointer-events: all;
    }
}