:host {
    display: flex;
}
.container {
    position: relative;
    width: var(--item-width);
    height: var(--item-height);
}
.item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    &.active { /* When the item is in view */
        opacity: 1;
        pointer-events: all;
    }
}