@import '../_CommonStyles/InputGroup.less';

.btn {
    position: relative;
    overflow: hidden;
}

.btn-group {
    position: relative;
display: inline-flex;
vertical-align: middle;
}
.btn-group > .btn-group:not(:last-child) > button, .btn-group > button:not(:last-child):not(.dropdown) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group > .btn-group:not(:first-child) > button, .btn-group > button:nth-child(n+3), .btn-group > :not(.btn-check) + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
button {
    display            : inline-block;
    font-weight        : 400;
    line-height        : 1.5;
    color              : #212529;
    text-align         : center;
    text-decoration    : none;
    vertical-align     : middle;
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    user-select        : none;
    background-color   : transparent;
    border             : 1px solid transparent;
    border-top-color   : transparent;
    border-right-color : transparent;
    border-bottom-color: transparent;
    border-left-color  : transparent;
    padding            : .375rem .75rem;
    font-size          : 1rem;
    border-radius      : .25rem;
    transition         : color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        color: #fff;
        background-color: var(--background, var(--primary));
        border-color: #0a58ca;

}