@colourPrimary: --colour-primary;
@colourSecondary: --colour-secondary;
@colourTertiary: --colour-tertiary;

@backgroundColourPrimary: --background-colour-primary;
@backgroundColourSecondary: --background-colour-secondary;
@backgroundColourTertiary: --background-colour-tertiary;