:host {
    overflow : hidden;
    display: flex;
    transition: width 0.8s, height 0.8s;
}

#container {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    transition: margin 0.8s, width 0.8s, height 0.8s;
}