@colours: {
    primary: #007bff;
    secondary: #6c757d;
    tertiary: salmon;
    light: #f8f9fa;
    dark: #343a40;
    success: #28a745;
    info: #17a2b8;
    warning: #ffc107;
    danger: #dc3545;
}
.colours() {
    each(@colours, {
        @var: ~'--@{key}';
        @lightened: if(luma(@value) < 50%, lighten(@value, 10%), darken(@value, 10%));

        @{var}: @value;
        @{var}-background: @lightened;
    })
}
each(@colours, {
    @var: ~'var(--@{key})';
    @lightened: if(luma(@value) < 50%, lighten(@value, 10%), darken(@value, 10%));
    .@{key} {
        background-color: @var;
        color: if(luma(@value) > 50%, black, white);
        border: 1px solid @var;
        &:hover {
            background-color: @lightened;
            border-color: @lightened;
        }
        &:active {
            box-shadow: 0 0 10px @var;
        }
        &.outline {
            background-color: initial;
            color: @var;
            border-color: @var;
            &:hover {
                background-color: @var;
                color: if(luma(@value) > 50%, black, white);
            }
        }
        &.right-rounded {
            border-right: 1px solid @var;
        }
        &.left-rounded {
            border-left: 1px solid @var;
        }
    }
})