.colours() {
    /*
     * Primary
     */
    --primary: #007bff;
    --primary-text: #343a40;
    /*
    * Secondary
    */
    --secondary: #6c757d;
    --secondary-text: #f8f9fa;
    /*
     * Tertiary
     */
     --tertiary: salmon;
     --tertiary-text: salmon;

    /*
    * General
    */

    --highlight: #007bff;
    --active: #e7f1ff
    --light: #f8f9fa;
    --dark: #343a40;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --highlight-text: #343a40;
    --active-text: #0c63e4;
    
    --light-text: #f8f9fa;
    --dark-text: #343a40;
    --success-text: #28a745;
    --info-text: #343a40;
    --warning-text: #343a40;
    --danger-text: #dc3545;
}