.grid() {
    --block-spacing: 1.5rem;
    --column-gap: 0.5rem;
    --column-gap: 0.5rem;
}

.columns, .rows {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-inline-end: calc(var(--column-gap)* -1);
    margin-inline-start: calc(var(--column-gap)* -1);
    margin-top: calc(var(--column-gap)* -1);

    &:not(:last-child) {
        margin-bottom: calc(var(--block-spacing) - var(--column-gap));
    }
}
.columns {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
  width: 100%;
    align-items: center;
      justify-content: center;

      > div {
          display: flex;
          flex-direction: column;
          justify-content: center;
        flex-grow: 1;
      }
}
.rows {
    flex-direction: row;
}
.column, .row {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: var(--column-gap);
}
.column {
    flex-direction: column;
}