.icons() {
    --icon-previous: url("data-url:~/icons/previous.svg");
    --icon-next: url("data-url:~/icons/next.svg");
    --icon-indicator: url("data-url:~/icons/indicator.svg");
    --icon-crosshair: url("data-url:~/icons/crosshair.svg");
    --icon-close: url("data-url:~/icons/close.svg");
    --icon-tick: url("data-url:~/icons/tick.svg");
	--icon-access: url("data-url:~/icons/access.svg");
}
.icn() {
    background-position: center;
    background-repeat: no-repeat;
}
.icon-lg {
    .icn();
    width: 48px;
    height: 48px;
}
.icon-sm {
    .icn();
    width: 16px;
    height: 16px;
}
.icon {
    .icn();
    width: 32px;
    height: 32px;
	
	&.access {
        background-image: var(--icon-access);
    }
}