@miscIcons: previous,next,indicator,crosshair,close,tick,access;

@import "~/icons/text/text-icons.less";
@import "~/icons/geo/geo-icons.less";
@import "~/icons/arrows/arrows-icons.less";
@import "~/icons/message/message-icons.less";
@import "~/icons/control/control-icons.less";

.icons() {
    .text-icons();
    .geo-icons();
    .arrow-icons();
    .message-icons();
    .control-icons();

    each(@miscIcons, {
        --icon-@{value}: url("data-url:~/icons/@{value}.svg");
    });
}

.icn() {
    background: black;
    mask-repeat: no-repeat;
}

.icon-lg {
    .icn();
    width: 48px;
    height: 48px;
}

.icon-sm {
    .icn();
    width: 16px;
    height: 16px;
}

.icon {
    .icn();
    width: 32px;
    height: 32px;
}
.icon {
    each(@miscIcons, {
        &.@{value} {
            mask-image: ~'var(--icon-@{value})';
        }
    });
}