:host {
    display: inline-block;
    position: relative;
}

input.text {
    width: 100%;
}

.input-group {
    display         : inline-flex;
    flex-direction  : var(--direction, row);
    padding         : .375rem;
    border-radius   : .25rem;
    background-color: #e9ecef;
    border          : 1px solid #ced4da;
}

.append, .prepend {
    background-color: var(--background, var(--primary));
    border-color    : #0a58ca;
}

.rounded {
    border-radius      : .25rem;
}

.right-rounded {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.left-rounded {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.no-rounded {
    border-radius: 0;
}

#dropdown-toggle::after {
    display: inline-block;
    vertical-align: .255em;
    content       : "";
    border-top    : .3em solid;
    border-right  : .3em solid transparent;
    border-bottom : 0;
    border-left   : .3em solid transparent;
}

#dropdown-items {
    position: absolute;
    z-index: 1000;
    display: none;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
::slotted(ul) {
    list-style: none;
    padding: .5rem 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}
::slotted(ol) {
    list-style: none;
    padding: .5rem 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}