juel-dialog-manager > * {
    display: none;
}
.fullscreen {
    width: 100vw;
    height: 100vh;
}
.flex {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
    }
}