@import './Grid.less';
//@import '../Shape/Shape.less';
@import './Popup.less';
@import './Map.less';

body {
    margin: 0;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    color: var(--body-color);
    text-align: var(--body-text-align);
    background-color: var(--body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
juel-image-map > *:not(img, svg), juel-shape * {
    display: none;
}
.hide, .hidden {display: none;}
.fullscreen {
    width: 100vw;
    height: 100vh;
}
.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    form {
        display: flex;
        flex-direction: column;
    }
}
// TODO: How to get menu to shrink?
juel-nav {
    ul, h1, h2, h3, h4, h5, h6 {
        //transition: margin .5s;
    }
    &.sticky {
        ul, h1, h2, h3, h4, h5, h6 {
            //margin-top: 0;
            //margin-bottom: 0;
        }
    }
}
.heading-link {
    padding-right: 0.5em;
    opacity: 0;
    text-decoration: none;
    vertical-align: middle;
    &:hover {
        opacity: 1;
    }
    svg {
        width: 32px;
        height: 32px;
        display: inline-block;
    }
}
.transition {
    transition-property: transform, background-color, color, width, height;
    transition-duration: var(--duration, 1s);
}
// Why?
// .item {
//     p {
//         margin: 0;
//     }
// }